

.card {
    position: absolute;
    margin-left: 260px;
    width: 70%;
    height: 600px;
    background-color: white;
    border-style: solid;
    border-color: white;
    box-shadow: 5px 10px 10px 13px grey;
    border-radius: 104px
}

.card-h {
    margin: 0px;
    padding: 8px;
    margin-top: 50px;
    margin-left: 70px;
    display: flex;
    justify-content: flex-start;
}

.card-b {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.card-f {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

button {
    width: 300px;
    height: 70px;
    border-style: solid;
    border-radius: 35px;
    background-color: red;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.line-1 {
    margin-left: 70px;
    margin-right: 70px;
    height: 2px;
    background: black;
}

.line-2 {
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    height: 2px;
    background: black
}